h1 {
    color: white;
    padding-left:40px
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    border:solid
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body{
    background-color:rgb(255, 230, 0)
}
a:link{
    color:white
}
a:visited{
    color:whitesmoke
}
.menu{
    margin-right:30px
}
.item{
    position:relative
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    color:whitesmoke;
    font-size:160%;
    font-weight:bolder
}
.item:hover p{
    opacity:1

}
.item:hover img{
    opacity:0.33
}